This notebook contains code for running basic time series analysis on the energy generated data, this time on a monthly scale

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
from matplotlib.dates import (YEARLY, DateFormatter,
                              rrulewrapper, RRuleLocator, drange)
import datetime   # package that helps manipulate dates

#for decomposition:
from statsmodels.tsa.seasonal import seasonal_decompose

# for simple exponential smoothing
#from statsmodels.tsa.api import ExponentialSmoothing, SimpleExpSmoothing, Holt

# used for autocorrelation
import statsmodels.api as sm

# measuring MAE and RMSE
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

In [2]:
# increase figure size
plt.rcParams['figure.figsize'] = [12, 8]

In [5]:
#Importing data and cleaning to make a nice df with 2 columns

# import data (file and path are not from github, just downloaded because git stuff wasn't completed yet)
df = pd.read_csv("./nrg_gen_full_daily.csv")

#renaming the columns we want to actually keep 
df.rename(columns={
        'Data Dica': 'date', 
        'Selecione Tipo de GE Simp 4': 'energy_generated'
    }, inplace=True)

#Creating list of all columns we want to delete (gotten in separate cell using df.columns)
badcols = ['Data Escala de Tempo 1 GE Simp 4',
       'cod_aneel (tb_referenciacegusina (Usina))',
       'cod_nucleoaneel (tb_referenciacegusina (Usina))',
       'dsc_estado', 'id_subsistema', 'nom_tipousinasite', 'nom_usina2',
       'Per√≠odo Exibido GE']
#actually deleting those unnecessary columns
for col in badcols:
    del df[col]
    
# turn "date" into a quantifiable object
df["date"] = pd.to_datetime(df["date"],format = '%d/%m/%Y')

In [6]:
df.head()

        date  energy_generated
0 1999-01-01            2.7324
1 1999-01-02            2.7371
2 1999-01-03            2.5538
3 1999-01-04            2.6530
4 1999-01-05            2.5833